.chatEntry {
    display: flex;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
    margin: 4px;
}

#main.disconnected {
    background-color: gray;
}

.chatEntry .name {
    color: darkslategray;
    text-align: end;
    width: 8em;
    min-width: 8em;
    margin: 4px;
    margin-right: 6px;
    /* border-style: dotted; */
}

.chatEntry .messagePart .request {
    color: gray;
    font-size: small;
    /* border-style: dashed; */
    margin: 0px;
}

.chatEntry .messagePart .message {
    color: black;
    /* border-style: dashed; */
    margin: 0px;
}