<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script type="application/javascript" defer="defer" src="js/application.js"></script>
    <title>
      My WebSocket App
    </title>
  </head>
  <body>
    Name: <input type="text" id="name">
    <hr>
     <form autocomplete="off">
      <input id="message" type="text">
      <input type="submit" value="Go" id="button_chat">
    </form>
    <input type="submit" value="3d6" id="button_3d6">
    <input type="submit" value="1d6" id="button_1d6">
    <input type="submit" value="1d3" id="button_1d3">  
    <br>
    <main id="main"></main>

  </body>
</html>